/* Basic Styling */
body {  
    font-family: 'Inter', sans-serif;
    background-image: radial-gradient(#ccc 1.5px, transparent 1px); /* Dotted background pattern */
    background-size: 27px 27px;
    overflow: hidden; /* Prevent body from scrolling */
  }
  
  .outer-container {
    width:92vw; /* Forces full width */
    height:88vh; /* Forces full height */
    max-width: 95%;
    margin: 1.5rem 2rem 1.5rem 2rem;
    padding: 20px 0;
    border-radius: 3px;
    border:3px solid black;
    box-shadow: 4px 4px 0 4px rgba(0, 0, 0, 0.3);
    position: relative; /* Set relative positioning for child elements */
    overflow: auto; /* Hide overflow */
}

.inner-container {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 20px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 0 4px rgba(0, 0, 0, 0.3);
    }

    .navbar {
        position: relative;     
        width:100%;
        background-color: transparent; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1.5rem 0;
        border-bottom: 3px solid black;
        flex-wrap: wrap;
        margin-bottom: 40px;
        } 
  
    .navbar-left{
        display: flex;
        gap: 1rem;
        margin-left:25px;
    
        }
    .navbar-right {
    display: flex;
    gap: 1rem;
    margin-right:25px;
    }
    
    .nav-btn {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: white;
        border: 4px solid black;
        box-shadow: 4px 4px 0 4px rgba(0, 0, 0, 0.3); /* x y blur spread color */
        cursor: pointer;
        transition: all 0.2s ease;
        }
    /* highlight the active button */
    .btn-active {
    background-color: #FBCEB1;
    }

    .share-btn {
        float:right;
    }
  /* Steak progress bar */
.progress-container {
    width: calc(100% - 6rem); /* Full width minus the gap on both sides */
    height: 20px;
    background-color: #ddd;
    border: 2px solid black;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    order: 2;            /* Makes sure it goes after the two boxes */
    position: relative; /* Position it relative to the outer-container */    
    top: 5px;       /* Add a gap on the bottom */
    margin:0 1.5rem;
}

.progress-fill {
    width: 25%;
    height: 16px;
    transition: width 0.5s ease;
    display: block;
    }
    
.progress-icon {
    position: absolute;
    top: -22px;
    left: 25%;
    transform: translateX(-50%);
    font-size: 18px;
    }

  /* Responsive Adjustments */
  @media (max-width: 862px) {
    .navbar-right {
        display: none; /* Hide the right side of the navbar */
    }
}

@media (max-width: 862px) {
    .progress-container{
        margin-top:2rem;
        width: 70%; /* Full width minus the gap on both sides */
        position: relative;
        }
    }