.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;  
    }

section {
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 0 4px rgba(0, 0, 0, 0.3);
    width: 450px;
    margin: 0 2rem;
    }

h1 {
    margin-top: 10px;
    }

    .habit-item {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        margin: 15px 0;
        font-size: 1.2rem;
    }

.share-btn {
    padding: 8px 16px;
    background-color: white;
    border: 3.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 0 2px rgba(0,0,0,0.4);
    font-family: 'Inter', sans-serif;
    font-weight: 600;     /* Semi Bold */
    font-size: 18px;
    }

#input-field, .add-habit-btn{
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 0 2px rgba(0,0,0,0.4);
    font-family: 'Inter', sans-serif;
    font-weight: 600;     /* Semi Bold */
    font-size: 18px;
    cursor: pointer;
    }

/* Delete Button */
.delete-btn {
    background: none;
    border: none;
    color: #ff5555;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
}

.delete-btn:hover {
    color: #ff0000;
}
    
.stats-line {
    margin: 15px 0;
    }

.bar {
    display: flex;
    align-items: center;
    margin-top:20px;
    }

.bar-label {
    width: 120px;
    }

.bar-track {
    height: 12px;
    background-color: #ddd;
    border: 2px solid black;
    flex-grow: 1;
    margin-right: 8px;
    position: relative;
    }

.bar-fill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

.green { background-color: #34BB61; width: 86%; } /* 6/7 */
.red { background-color: #FF786F; width: 100%; } /* 7/7 */
.blue { background-color: #0D99FF; width: 100%; }
.purple { background-color: #AF75F1; width: 86%; }


/* Responsive styles */
@media (max-width: 1300px) {
    section{
        max-width:350px;
        }
    }

@media (max-width: 1070px) {
    section{
        max-width:320px;
        margin:0;
        }
    }

@media (max-width: 890px) {
    section{
        max-width:400px;
        margin:0 50px;
        }
    }