<!-- templates/calendar_component.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/monthlycalendar.css') }}">
<div class="container">
  <div class="monthly-select-wrapper">
    <select id="monthSelect"></select>
    <select id="yearSelect"></select>
  </div>

  <!-- Calendar table -->
  <div class="table-responsive">
    <table id="calendar" class="table table-bordered align-middle text-center mb-0"></table>
  </div>
</div>
  
  <script src="{{ url_for('static', filename='js/monthlycalendar.js') }}"></script>