<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- placeholder for nav bar  -->

    <!-- Daily habit section -->
    <section id="daily-habits">
        <h2>Daily Habits</h2>
        
        <div class="habit-item">
            <input type="checkbox" id="habit1" checked>
            <label for="habit1">Wake up early</label>
        </div>
        <div class="habit-item">
            <input type="checkbox" id="habit2" checked>
            <label for="habit2">Drink water</label>
        </div>
        <div class="habit-item">
            <input type="checkbox" id="habit3" checked>
            <label for="habit3">No takeout</label>
        </div>
        <div class="habit-item">
            <input type="checkbox" id="habit4" checked>
            <label for="habit4">Meditate</label>
        </div>
        <button class="add-habit-btn">+ Add Habit</button>
    </section>

    <!-- Stats Section-->
</body>
</html>