{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
    <header>
        <h1>Welcome! {{user.username}}</h1>
    </header>
    <main class="container">
        <section class="profile-container">
            <h2>User Information</h2>
            {% if user.username %}
                <p><strong>Username:</strong> {{ user.username }}</p>
            {% else %}
                <p><strong>Username:</strong> Not provided</p>
            {% endif %}
            {% if user.email %}
                <p><strong>Email:</strong> {{ user.email }}</p>
            {% else %}
                <p><strong>Email:</strong> Not provided</p>
            {% endif %}
            <p><strong>Account Created:</strong> 
                {% if user.created_at %}
                    {{ user.created_at.strftime('%Y-%m-%d') }}</p>
                {% else %}
                    <p>No account created date available.</p>
                {% endif %}
            <p><strong>Last Login:</strong> 
                {% if user.last_login %}
                    {{ user.last_login.strftime('%Y-%m-%d') }}
                {% else %}
                    Not recorded
                {% endif %}
            </p>

        </section>

        <section class="profile-container">
            <form action="/update_username" method="POST">
                <label for="new-username">New Username:</label>
                <input type="text" id="new-username" name="new_username" required>
                <button type="submit">Update Username</button>
                {% with messages = get_flashed_messages(with_categories=true, category_filter=['profile', 'profile_error']) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
            <form action="/update_email" method="POST">
                <label for="new-email">New Email:</label>
                <input type="email" id="new-email" name="new_email" required>
                <button type="submit">Update Email</button>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </form>
            <form action="/update_password" method="POST">
                <label for="current-password">Current Password:</label>
                <input type="password" id="current-password" name="current_password" required>
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new_password" required>
                <button type="submit">Update Password</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </form>
        </section>

        <section>
            <h2>Database Data View</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Habit</th>
                        <th>Status</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in habits %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.habit_name }}</td>
                        <td>{{ record.records }}</td>
                        <td>{{ record.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
