<!-------------- Modal for sharing to friends -------------------->
<!------ used in dashboard, weekly, monthly, yearly pages ----->
<div id="sharePopup" class="share-popup">
    <div class="share-content">
      <button class="close" onclick="document.getElementById('sharePopup').style.display='none'">&times;</button>
  
      <form method="POST" action="{{ url_for('main.share_habit') }}">
        {{ form.hidden_tag() }}
  
        <div>
          {{ form.habit.label }}
          {{ form.habit() }}
        </div>
  
        <div>
          {{ form.recipient.label }}
          {{ form.recipient() }}
        </div>
  
        <div>
          {{ form.submit(class="btn") }}
        </div>
      </form>
    </div>
  </div>