{% extends "base.html" %}
{% block title %}Weekly view{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/weekly.css') }}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Weekly Habit Overview</h1>
    <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
      <h4 class="text-center text-muted">{{ date_range }}</h4>
      <!-- Share Button -->
    <form id="share-form" action="{{ url_for('main.share_snippet') }}" method="POST" onsubmit="return setReceiverUsername()">
      <input type="hidden" id="receiver-username" name="receiver_username" value="">
      <input type="hidden" name="message" value="Today: {{ today_completion }} habits completed. Streak: {{ streak }} days! 🚀">
      <button type="button" class="nav-btn" data-toggle="modal" data-target="#usernameModal">Share</button>
    </form>
  </div>
    
    <!-- Donut Chart -->
    <div class="row text-center mt-5">
        {% for habit in habits %}
        <div class="chart-container" style="width: 200px; margin: 20px;">
          <p>{{ habit.name }}</p>
          <canvas id="chart-{{ habit.id }}"></canvas>
        </div>
        {% endfor %}
    </div>
</div>
    <!-- Modal for share button -->
    {% include 'share_modal.html' %}

<!----------------------javascript -------------------------------->
  <!-- pass color palette for doughnutchart  to JS -->
  <script>window.habitChartColors = {{ colors | tojson }};</script> 

  <!-- Chart.js Library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    window.habitChartData = [
      {% for habit in habits %}
      {
        id: "{{ habit.id }}",
        name: "{{ habit.name }}",
        completed_days: {{ habit.completed_days }},
        total_days: {{ habit.total_days }}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
  <script src="{{ url_for('static', filename='js/weekly.js') }}"></script>
{% endblock %}